:root {
    
    --bgColor_numImg: none;

    --bgColor_container:  blanchedalmond;

    --bgColor_numNum: none;

    --bgColor_operator: none;

    --bgResult_btn: pink;
}

body{
    margin: 0;
}

#container{
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    grid-template-columns: 10fr 1fr 10fr;
    grid-template-areas: 
    "a . x"
    "b o y"
    ". i s";
    border: 1vh solid rgb(161, 16, 16); 
    height: 93.5vh;
    grid-gap: 0.5vw;
    background-color: var(--bgColor_container);
    padding: 1vw;
}

#num1_img{
    grid-area: a;
}

#num2_img{
    grid-area: x;
}

#num1_img, #num2_img{
    display: inline-block;
    background-color: var(--bgColor_numImg);
    height: 50vh;
}

#num1_num{
    grid-area: b;
}

#num2_num{
    grid-area: y;
}

#num1_num, #num2_num{
    margin-right: 12vw;
    margin-left: 12vw;
    background-color: var(--bgColor_numNum);
}

#operator{
    grid-area: o;
    background-color: var(--bgColor_operator);
    margin-right: 5vw;
    margin-left: 5vw;  
}

#num1_num, #num2_num, #operator{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    font-weight: bold;
    justify-content: center;
    align-items : center;
}

input{
    display: grid;
    grid-area: i;
    font-size: 3vw;
    background-color: var(--bgResult_btn);
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:6.5vw;
    font-weight: bold;
    border:0;
    width: 22vw;
    border-radius: 1vw;
}

::placeholder{
    color: rgb(92, 91, 91);
    font-family: 'Gloria Hallelujah', cursive;
    font-size:2.5vw;
    border:0;
}

/* Unable annoying blue border line when entering input */
input:focus {
    outline:none !important;
}

/* Unable annoying little arrows when entering input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#solve_btn{
    display: grid;
    grid-area: s;
    background-color: rgb(219, 111, 111);
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5w;
    font-weight: bold;
    border: 0.3vw solid rgb(94, 4, 4);
    margin: 3vw;
    margin-right:25vw;
    margin-left: 2vw;
    border-radius: 0.5vw;
    transition: 0.3s ease-in-out;
}

#solve_btn:hover{
    background-color: rgb(94, 4, 4);
    border: 0.3vw solid rgb(219, 111, 111);
    color: white;
}

